.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  margin-top: 100px;
  border: 2px solid black;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: green;
}
